fastapi
uvicorn[standard]

motor
pymongo

python-dotenv
python-multipart

python-jose[cryptography]
passlib[bcrypt]

email-validator

pydantic
pydantic-settings

pandas
numpy

scikit-learn

tqdm

# AI - Phase 4
groq
langgraph
langchain-core
sentence-transformers
chromadb
